@mixin image-background {
   background-position: center;
   background-repeat: no-repeat;
   background-size: 4rem;

   /* Hide the text. */
   text-indent: 100%;
   white-space: nowrap;
   overflow: hidden;

   @include smaller($mobile-threshold) {
      background-size: 3.2rem;
   }

   @include smaller($super-small-phones) {
      background-size: 2.4rem;
   }
}

.tile.tile-2 .tile-inner {
   background-image: url("/icons/01.svg");
   @include image-background;
}

.tile.tile-4 .tile-inner {
   background-image: url("/icons/02.svg");
   @include image-background;
}
.tile.tile-8 .tile-inner {
   background-image: url("/icons/03.svg");
   @include image-background;
}
.tile.tile-16 .tile-inner {
   background-image: url("/icons/04.svg");
   @include image-background;
}
.tile.tile-32 .tile-inner {
   background-image: url("/icons/05.svg");
   @include image-background;
}
.tile.tile-64 .tile-inner {
   background-image: url("/icons/06.svg");
   @include image-background;
}
.tile.tile-128 .tile-inner {
   background-image: url("/icons/07.svg");
   @include image-background;
}
.tile.tile-256 .tile-inner {
   background-image: url("/icons/08.svg");
   @include image-background;
}
.tile.tile-512 .tile-inner {
   background-image: url("/icons/09.svg");
   @include image-background;
}
.tile.tile-1024 .tile-inner {
   background-image: url("/icons/10.svg");
   @include image-background;
}
.tile.tile-2048 .tile-inner {
   background-image: url("/icons/11.svg");
   @include image-background;
}
.tile.tile-4096 .tile-inner {
   background-image: url("/icons/12.svg");
   @include image-background;
}
.tile.tile-8192 .tile-inner {
   background-image: url("/icons/13.svg");
   @include image-background;
   // box-shadow: 0 0 5px #ffc440;
   background-color: #00e6f4;
}
.tile.tile-16384 .tile-inner {
   background-image: url("/icons/14.svg");
   @include image-background;
   // box-shadow: 0 0 10px #47d3ff;
   background-color: #47d3ff;
}

.tile.tile-32768 .tile-inner {
   background-image: url("/icons/15.svg");
   @include image-background;
   // box-shadow: 0 0 10px #47d3ff;
   background-color: #00c3ff;
}

.tile.tile-65536 .tile-inner {
   background-image: url("/icons/16.svg");
   @include image-background;
   // box-shadow: 0 0 10px #47d3ff;
   background-color: #3ca9ff;
}

.tile.tile-131072 .tile-inner {
   background-image: url("/icons/17.svg");
   @include image-background;
   // box-shadow: 0 0 10px #47d3ff;
   background-color: #ac7eff;
}

.tile.tile-262144 .tile-inner {
   background-image: url("/icons/18.svg");
   @include image-background;
   // box-shadow: 0 0 10px #47d3ff;
   background-color: #fd12f5;
}
