@import "retina";
@import "themes";

@function power($base, $exponent) {
  $value: $base;

  @if $exponent > 1 {
    @for $i from 2 through $exponent {
      $value: $value * $base; } }
  @if $exponent < 1 {
    @for $i from 0 through -$exponent {
      $value: $value / $base; } }
  @return $value;
}

@mixin theme-tile($theme: 'happy') {
    @for $i from 1 through 20 {
    .tile {
      $num: power(2, $i);
      &-#{$num} .tile-inner {
        @include at2x('../img/' + $theme + '/tile-img-#{$num}', png, 107px, 107px, !important);

        @include smaller($mobile-threshold) {
          @include at2x('../img/' + $theme + '/tile-img-#{$num}-smaller', png, 58px, 58px, !important);
        }
      }
    }
  }
}

@mixin theme-button($theme: 'happy') {
  .restart-button, .game-message a {
    background-color: $primary-color-#{$theme};
    color: $text-color-#{$theme};
  }
}

@mixin theme-bg($theme: 'happy') {
  .#{$theme} {
    color: $text-color-#{$theme};

    @if $bg-image-#{$theme} {
      background: url(../img/bg-#{$theme}.png) no-repeat;
      background-size: cover;
    }
    @else {
      background: $bg-color-#{$theme};
    }

    .score-container, .best-container, .game-container {
      background:$secondary-color-#{$theme};
    }
  }
}

@mixin theme($theme: 'happy') {
  @include theme-tile($theme);
  @include theme-button($theme);
  @include theme-bg($theme);
}

/*
 * global
 */

.tile {
    .tile-inner {
      border-radius: 0;
      background-position: center center!important;
      background-repeat: no-repeat !important;
      text-indent: -9999px;
      color: transparent;
    }
}

.select-theme {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    float: left;

    &.disabled {
      a {

      }
    }

    a {
      display: block;
      padding: 4px 6px;
      text-decoration: none;

      &.active {

      }
    }
  }
}


/*
 * theme default ('happy')
 */


@include theme();





/*
 * theme union
 */

.union {
  @include theme('union');
}



/*
 * theme feast
 */

.feast {
  @include theme('feast');
}



/*
 * theme excel
 */

.excel {
  @include theme('excel');
}