@import url(fonts/clear-sans.css);
html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: #776e65;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }
  @media screen and (max-width: 1080px) {
    html, body {
      font-size: 15px; } }

body {
  margin: 80px 0; }
  @media screen and (max-width: 1080px) {
    body {
      margin: 20px 0;
      padding: 0 20px; } }

.heading:after {
  content: "";
  display: block;
  clear: both; }
@media screen and (max-width: 1080px) {
  .heading {
    margin-bottom: 10px; } }

h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left; }
  @media screen and (max-width: 1080px) {
    h1.title {
      font-size: 27px;
      margin-top: 15px; } }

@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }
  100% {
    top: -50px;
    opacity: 0; } }
@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }
  100% {
    top: -50px;
    opacity: 0; } }
@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }
  100% {
    top: -50px;
    opacity: 0; } }
.scores-container {
  float: right;
  text-align: right; }

.score-container, .best-container {
  position: relative;
  display: inline-block;
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  height: 25px;
  line-height: 47px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center; }
  @media screen and (max-width: 1080px) {
    .score-container, .best-container {
      margin-top: 0;
      padding: 15px 10px;
      min-width: 40px; } }
  .score-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #eee4da; }
  .score-container .score-addition, .best-container .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: 25px;
    line-height: 25px;
    font-weight: bold;
    color: rgba(119, 110, 101, 0.9);
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }

.score-container:after {
  content: "Score"; }

.best-container:after {
  content: "Best"; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

a {
  color: #776e65;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  border-bottom: 1px solid #d8d4d0;
  margin-top: 20px;
  margin-bottom: 30px; }

.container {
  width: 1060px;
  margin: 0 auto; }
  @media screen and (max-width: 1080px) {
    .container {
      width: 380px; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.game-container {
  margin-top: 40px;
  position: relative;
  padding: 12.72509px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: #bbada0;
  border-radius: 6px;
  width: 1060px;
  height: 1060px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 1080px) {
    .game-container {
      margin-top: 17px;
      padding: 4.56182px;
      width: 380px;
      height: 380px; } }
  .game-container .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(238, 228, 218, 0.5);
    z-index: 100;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
    .game-container .game-message p {
      font-size: 60px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      margin-top: 222px; }
      @media screen and (max-width: 1080px) {
        .game-container .game-message p {
          font-size: 30px !important;
          height: 30px !important;
          line-height: 30px !important;
          margin-top: 90px !important; } }
    .game-container .game-message .lower {
      display: block;
      margin-top: 59px; }
      @media screen and (max-width: 1080px) {
        .game-container .game-message .lower {
          margin-top: 30px !important; } }
    .game-container .game-message a {
      display: inline-block;
      background: #8f7a66;
      border-radius: 3px;
      padding: 0 20px;
      text-decoration: none;
      color: #f9f6f2;
      height: 40px;
      line-height: 42px;
      margin-left: 9px; }
      .game-container .game-message a.keep-playing-button {
        display: none; }
    .game-container .game-message.game-won {
      background: rgba(237, 194, 46, 0.5);
      color: #f9f6f2; }
      .game-container .game-message.game-won a.keep-playing-button {
        display: inline-block; }
    .game-container .game-message.game-won, .game-container .game-message.game-over {
      display: block; }

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 12.72509px; }
  @media screen and (max-width: 1080px) {
    .grid-row {
      margin-bottom: 4.56182px; } }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  width: 92.0024px;
  height: 92.0024px;
  margin-right: 12.72509px;
  float: left;
  border-radius: 3px;
  background: rgba(238, 228, 218, 0.35); }
  @media screen and (max-width: 1080px) {
    .grid-cell {
      width: 32.98199px;
      height: 32.98199px;
      margin-right: 4.56182px; } }
  .grid-cell:last-child {
    margin-right: 0; }

.tile-container {
  position: absolute;
  z-index: 2; }

.tile, .tile .tile-inner {
  width: 93px;
  height: 93px;
  line-height: 93px; }
  @media screen and (max-width: 1080px) {
    .tile, .tile .tile-inner {
      width: 33px;
      height: 33px;
      line-height: 33px; } }
.tile.tile-position-1-1 {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-1-1 {
      -webkit-transform: translate(0px, 0px);
      -moz-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
      transform: translate(0px, 0px); } }
.tile.tile-position-1-2 {
  -webkit-transform: translate(0px, 104px);
  -moz-transform: translate(0px, 104px);
  -ms-transform: translate(0px, 104px);
  transform: translate(0px, 104px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-1-2 {
      -webkit-transform: translate(0px, 37px);
      -moz-transform: translate(0px, 37px);
      -ms-transform: translate(0px, 37px);
      transform: translate(0px, 37px); } }
.tile.tile-position-1-3 {
  -webkit-transform: translate(0px, 209px);
  -moz-transform: translate(0px, 209px);
  -ms-transform: translate(0px, 209px);
  transform: translate(0px, 209px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-1-3 {
      -webkit-transform: translate(0px, 75px);
      -moz-transform: translate(0px, 75px);
      -ms-transform: translate(0px, 75px);
      transform: translate(0px, 75px); } }
.tile.tile-position-1-4 {
  -webkit-transform: translate(0px, 314px);
  -moz-transform: translate(0px, 314px);
  -ms-transform: translate(0px, 314px);
  transform: translate(0px, 314px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-1-4 {
      -webkit-transform: translate(0px, 112px);
      -moz-transform: translate(0px, 112px);
      -ms-transform: translate(0px, 112px);
      transform: translate(0px, 112px); } }
.tile.tile-position-1-5 {
  -webkit-transform: translate(0px, 418px);
  -moz-transform: translate(0px, 418px);
  -ms-transform: translate(0px, 418px);
  transform: translate(0px, 418px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-1-5 {
      -webkit-transform: translate(0px, 150px);
      -moz-transform: translate(0px, 150px);
      -ms-transform: translate(0px, 150px);
      transform: translate(0px, 150px); } }
.tile.tile-position-1-6 {
  -webkit-transform: translate(0px, 523px);
  -moz-transform: translate(0px, 523px);
  -ms-transform: translate(0px, 523px);
  transform: translate(0px, 523px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-1-6 {
      -webkit-transform: translate(0px, 187px);
      -moz-transform: translate(0px, 187px);
      -ms-transform: translate(0px, 187px);
      transform: translate(0px, 187px); } }
.tile.tile-position-1-7 {
  -webkit-transform: translate(0px, 628px);
  -moz-transform: translate(0px, 628px);
  -ms-transform: translate(0px, 628px);
  transform: translate(0px, 628px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-1-7 {
      -webkit-transform: translate(0px, 225px);
      -moz-transform: translate(0px, 225px);
      -ms-transform: translate(0px, 225px);
      transform: translate(0px, 225px); } }
.tile.tile-position-1-8 {
  -webkit-transform: translate(0px, 733px);
  -moz-transform: translate(0px, 733px);
  -ms-transform: translate(0px, 733px);
  transform: translate(0px, 733px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-1-8 {
      -webkit-transform: translate(0px, 262px);
      -moz-transform: translate(0px, 262px);
      -ms-transform: translate(0px, 262px);
      transform: translate(0px, 262px); } }
.tile.tile-position-1-9 {
  -webkit-transform: translate(0px, 837px);
  -moz-transform: translate(0px, 837px);
  -ms-transform: translate(0px, 837px);
  transform: translate(0px, 837px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-1-9 {
      -webkit-transform: translate(0px, 300px);
      -moz-transform: translate(0px, 300px);
      -ms-transform: translate(0px, 300px);
      transform: translate(0px, 300px); } }
.tile.tile-position-1-10 {
  -webkit-transform: translate(0px, 942px);
  -moz-transform: translate(0px, 942px);
  -ms-transform: translate(0px, 942px);
  transform: translate(0px, 942px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-1-10 {
      -webkit-transform: translate(0px, 337px);
      -moz-transform: translate(0px, 337px);
      -ms-transform: translate(0px, 337px);
      transform: translate(0px, 337px); } }
.tile.tile-position-2-1 {
  -webkit-transform: translate(104px, 0px);
  -moz-transform: translate(104px, 0px);
  -ms-transform: translate(104px, 0px);
  transform: translate(104px, 0px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-2-1 {
      -webkit-transform: translate(37px, 0px);
      -moz-transform: translate(37px, 0px);
      -ms-transform: translate(37px, 0px);
      transform: translate(37px, 0px); } }
.tile.tile-position-2-2 {
  -webkit-transform: translate(104px, 104px);
  -moz-transform: translate(104px, 104px);
  -ms-transform: translate(104px, 104px);
  transform: translate(104px, 104px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-2-2 {
      -webkit-transform: translate(37px, 37px);
      -moz-transform: translate(37px, 37px);
      -ms-transform: translate(37px, 37px);
      transform: translate(37px, 37px); } }
.tile.tile-position-2-3 {
  -webkit-transform: translate(104px, 209px);
  -moz-transform: translate(104px, 209px);
  -ms-transform: translate(104px, 209px);
  transform: translate(104px, 209px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-2-3 {
      -webkit-transform: translate(37px, 75px);
      -moz-transform: translate(37px, 75px);
      -ms-transform: translate(37px, 75px);
      transform: translate(37px, 75px); } }
.tile.tile-position-2-4 {
  -webkit-transform: translate(104px, 314px);
  -moz-transform: translate(104px, 314px);
  -ms-transform: translate(104px, 314px);
  transform: translate(104px, 314px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-2-4 {
      -webkit-transform: translate(37px, 112px);
      -moz-transform: translate(37px, 112px);
      -ms-transform: translate(37px, 112px);
      transform: translate(37px, 112px); } }
.tile.tile-position-2-5 {
  -webkit-transform: translate(104px, 418px);
  -moz-transform: translate(104px, 418px);
  -ms-transform: translate(104px, 418px);
  transform: translate(104px, 418px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-2-5 {
      -webkit-transform: translate(37px, 150px);
      -moz-transform: translate(37px, 150px);
      -ms-transform: translate(37px, 150px);
      transform: translate(37px, 150px); } }
.tile.tile-position-2-6 {
  -webkit-transform: translate(104px, 523px);
  -moz-transform: translate(104px, 523px);
  -ms-transform: translate(104px, 523px);
  transform: translate(104px, 523px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-2-6 {
      -webkit-transform: translate(37px, 187px);
      -moz-transform: translate(37px, 187px);
      -ms-transform: translate(37px, 187px);
      transform: translate(37px, 187px); } }
.tile.tile-position-2-7 {
  -webkit-transform: translate(104px, 628px);
  -moz-transform: translate(104px, 628px);
  -ms-transform: translate(104px, 628px);
  transform: translate(104px, 628px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-2-7 {
      -webkit-transform: translate(37px, 225px);
      -moz-transform: translate(37px, 225px);
      -ms-transform: translate(37px, 225px);
      transform: translate(37px, 225px); } }
.tile.tile-position-2-8 {
  -webkit-transform: translate(104px, 733px);
  -moz-transform: translate(104px, 733px);
  -ms-transform: translate(104px, 733px);
  transform: translate(104px, 733px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-2-8 {
      -webkit-transform: translate(37px, 262px);
      -moz-transform: translate(37px, 262px);
      -ms-transform: translate(37px, 262px);
      transform: translate(37px, 262px); } }
.tile.tile-position-2-9 {
  -webkit-transform: translate(104px, 837px);
  -moz-transform: translate(104px, 837px);
  -ms-transform: translate(104px, 837px);
  transform: translate(104px, 837px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-2-9 {
      -webkit-transform: translate(37px, 300px);
      -moz-transform: translate(37px, 300px);
      -ms-transform: translate(37px, 300px);
      transform: translate(37px, 300px); } }
.tile.tile-position-2-10 {
  -webkit-transform: translate(104px, 942px);
  -moz-transform: translate(104px, 942px);
  -ms-transform: translate(104px, 942px);
  transform: translate(104px, 942px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-2-10 {
      -webkit-transform: translate(37px, 337px);
      -moz-transform: translate(37px, 337px);
      -ms-transform: translate(37px, 337px);
      transform: translate(37px, 337px); } }
.tile.tile-position-3-1 {
  -webkit-transform: translate(209px, 0px);
  -moz-transform: translate(209px, 0px);
  -ms-transform: translate(209px, 0px);
  transform: translate(209px, 0px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-3-1 {
      -webkit-transform: translate(75px, 0px);
      -moz-transform: translate(75px, 0px);
      -ms-transform: translate(75px, 0px);
      transform: translate(75px, 0px); } }
.tile.tile-position-3-2 {
  -webkit-transform: translate(209px, 104px);
  -moz-transform: translate(209px, 104px);
  -ms-transform: translate(209px, 104px);
  transform: translate(209px, 104px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-3-2 {
      -webkit-transform: translate(75px, 37px);
      -moz-transform: translate(75px, 37px);
      -ms-transform: translate(75px, 37px);
      transform: translate(75px, 37px); } }
.tile.tile-position-3-3 {
  -webkit-transform: translate(209px, 209px);
  -moz-transform: translate(209px, 209px);
  -ms-transform: translate(209px, 209px);
  transform: translate(209px, 209px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-3-3 {
      -webkit-transform: translate(75px, 75px);
      -moz-transform: translate(75px, 75px);
      -ms-transform: translate(75px, 75px);
      transform: translate(75px, 75px); } }
.tile.tile-position-3-4 {
  -webkit-transform: translate(209px, 314px);
  -moz-transform: translate(209px, 314px);
  -ms-transform: translate(209px, 314px);
  transform: translate(209px, 314px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-3-4 {
      -webkit-transform: translate(75px, 112px);
      -moz-transform: translate(75px, 112px);
      -ms-transform: translate(75px, 112px);
      transform: translate(75px, 112px); } }
.tile.tile-position-3-5 {
  -webkit-transform: translate(209px, 418px);
  -moz-transform: translate(209px, 418px);
  -ms-transform: translate(209px, 418px);
  transform: translate(209px, 418px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-3-5 {
      -webkit-transform: translate(75px, 150px);
      -moz-transform: translate(75px, 150px);
      -ms-transform: translate(75px, 150px);
      transform: translate(75px, 150px); } }
.tile.tile-position-3-6 {
  -webkit-transform: translate(209px, 523px);
  -moz-transform: translate(209px, 523px);
  -ms-transform: translate(209px, 523px);
  transform: translate(209px, 523px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-3-6 {
      -webkit-transform: translate(75px, 187px);
      -moz-transform: translate(75px, 187px);
      -ms-transform: translate(75px, 187px);
      transform: translate(75px, 187px); } }
.tile.tile-position-3-7 {
  -webkit-transform: translate(209px, 628px);
  -moz-transform: translate(209px, 628px);
  -ms-transform: translate(209px, 628px);
  transform: translate(209px, 628px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-3-7 {
      -webkit-transform: translate(75px, 225px);
      -moz-transform: translate(75px, 225px);
      -ms-transform: translate(75px, 225px);
      transform: translate(75px, 225px); } }
.tile.tile-position-3-8 {
  -webkit-transform: translate(209px, 733px);
  -moz-transform: translate(209px, 733px);
  -ms-transform: translate(209px, 733px);
  transform: translate(209px, 733px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-3-8 {
      -webkit-transform: translate(75px, 262px);
      -moz-transform: translate(75px, 262px);
      -ms-transform: translate(75px, 262px);
      transform: translate(75px, 262px); } }
.tile.tile-position-3-9 {
  -webkit-transform: translate(209px, 837px);
  -moz-transform: translate(209px, 837px);
  -ms-transform: translate(209px, 837px);
  transform: translate(209px, 837px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-3-9 {
      -webkit-transform: translate(75px, 300px);
      -moz-transform: translate(75px, 300px);
      -ms-transform: translate(75px, 300px);
      transform: translate(75px, 300px); } }
.tile.tile-position-3-10 {
  -webkit-transform: translate(209px, 942px);
  -moz-transform: translate(209px, 942px);
  -ms-transform: translate(209px, 942px);
  transform: translate(209px, 942px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-3-10 {
      -webkit-transform: translate(75px, 337px);
      -moz-transform: translate(75px, 337px);
      -ms-transform: translate(75px, 337px);
      transform: translate(75px, 337px); } }
.tile.tile-position-4-1 {
  -webkit-transform: translate(314px, 0px);
  -moz-transform: translate(314px, 0px);
  -ms-transform: translate(314px, 0px);
  transform: translate(314px, 0px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-4-1 {
      -webkit-transform: translate(112px, 0px);
      -moz-transform: translate(112px, 0px);
      -ms-transform: translate(112px, 0px);
      transform: translate(112px, 0px); } }
.tile.tile-position-4-2 {
  -webkit-transform: translate(314px, 104px);
  -moz-transform: translate(314px, 104px);
  -ms-transform: translate(314px, 104px);
  transform: translate(314px, 104px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-4-2 {
      -webkit-transform: translate(112px, 37px);
      -moz-transform: translate(112px, 37px);
      -ms-transform: translate(112px, 37px);
      transform: translate(112px, 37px); } }
.tile.tile-position-4-3 {
  -webkit-transform: translate(314px, 209px);
  -moz-transform: translate(314px, 209px);
  -ms-transform: translate(314px, 209px);
  transform: translate(314px, 209px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-4-3 {
      -webkit-transform: translate(112px, 75px);
      -moz-transform: translate(112px, 75px);
      -ms-transform: translate(112px, 75px);
      transform: translate(112px, 75px); } }
.tile.tile-position-4-4 {
  -webkit-transform: translate(314px, 314px);
  -moz-transform: translate(314px, 314px);
  -ms-transform: translate(314px, 314px);
  transform: translate(314px, 314px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-4-4 {
      -webkit-transform: translate(112px, 112px);
      -moz-transform: translate(112px, 112px);
      -ms-transform: translate(112px, 112px);
      transform: translate(112px, 112px); } }
.tile.tile-position-4-5 {
  -webkit-transform: translate(314px, 418px);
  -moz-transform: translate(314px, 418px);
  -ms-transform: translate(314px, 418px);
  transform: translate(314px, 418px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-4-5 {
      -webkit-transform: translate(112px, 150px);
      -moz-transform: translate(112px, 150px);
      -ms-transform: translate(112px, 150px);
      transform: translate(112px, 150px); } }
.tile.tile-position-4-6 {
  -webkit-transform: translate(314px, 523px);
  -moz-transform: translate(314px, 523px);
  -ms-transform: translate(314px, 523px);
  transform: translate(314px, 523px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-4-6 {
      -webkit-transform: translate(112px, 187px);
      -moz-transform: translate(112px, 187px);
      -ms-transform: translate(112px, 187px);
      transform: translate(112px, 187px); } }
.tile.tile-position-4-7 {
  -webkit-transform: translate(314px, 628px);
  -moz-transform: translate(314px, 628px);
  -ms-transform: translate(314px, 628px);
  transform: translate(314px, 628px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-4-7 {
      -webkit-transform: translate(112px, 225px);
      -moz-transform: translate(112px, 225px);
      -ms-transform: translate(112px, 225px);
      transform: translate(112px, 225px); } }
.tile.tile-position-4-8 {
  -webkit-transform: translate(314px, 733px);
  -moz-transform: translate(314px, 733px);
  -ms-transform: translate(314px, 733px);
  transform: translate(314px, 733px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-4-8 {
      -webkit-transform: translate(112px, 262px);
      -moz-transform: translate(112px, 262px);
      -ms-transform: translate(112px, 262px);
      transform: translate(112px, 262px); } }
.tile.tile-position-4-9 {
  -webkit-transform: translate(314px, 837px);
  -moz-transform: translate(314px, 837px);
  -ms-transform: translate(314px, 837px);
  transform: translate(314px, 837px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-4-9 {
      -webkit-transform: translate(112px, 300px);
      -moz-transform: translate(112px, 300px);
      -ms-transform: translate(112px, 300px);
      transform: translate(112px, 300px); } }
.tile.tile-position-4-10 {
  -webkit-transform: translate(314px, 942px);
  -moz-transform: translate(314px, 942px);
  -ms-transform: translate(314px, 942px);
  transform: translate(314px, 942px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-4-10 {
      -webkit-transform: translate(112px, 337px);
      -moz-transform: translate(112px, 337px);
      -ms-transform: translate(112px, 337px);
      transform: translate(112px, 337px); } }
.tile.tile-position-5-1 {
  -webkit-transform: translate(418px, 0px);
  -moz-transform: translate(418px, 0px);
  -ms-transform: translate(418px, 0px);
  transform: translate(418px, 0px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-5-1 {
      -webkit-transform: translate(150px, 0px);
      -moz-transform: translate(150px, 0px);
      -ms-transform: translate(150px, 0px);
      transform: translate(150px, 0px); } }
.tile.tile-position-5-2 {
  -webkit-transform: translate(418px, 104px);
  -moz-transform: translate(418px, 104px);
  -ms-transform: translate(418px, 104px);
  transform: translate(418px, 104px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-5-2 {
      -webkit-transform: translate(150px, 37px);
      -moz-transform: translate(150px, 37px);
      -ms-transform: translate(150px, 37px);
      transform: translate(150px, 37px); } }
.tile.tile-position-5-3 {
  -webkit-transform: translate(418px, 209px);
  -moz-transform: translate(418px, 209px);
  -ms-transform: translate(418px, 209px);
  transform: translate(418px, 209px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-5-3 {
      -webkit-transform: translate(150px, 75px);
      -moz-transform: translate(150px, 75px);
      -ms-transform: translate(150px, 75px);
      transform: translate(150px, 75px); } }
.tile.tile-position-5-4 {
  -webkit-transform: translate(418px, 314px);
  -moz-transform: translate(418px, 314px);
  -ms-transform: translate(418px, 314px);
  transform: translate(418px, 314px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-5-4 {
      -webkit-transform: translate(150px, 112px);
      -moz-transform: translate(150px, 112px);
      -ms-transform: translate(150px, 112px);
      transform: translate(150px, 112px); } }
.tile.tile-position-5-5 {
  -webkit-transform: translate(418px, 418px);
  -moz-transform: translate(418px, 418px);
  -ms-transform: translate(418px, 418px);
  transform: translate(418px, 418px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-5-5 {
      -webkit-transform: translate(150px, 150px);
      -moz-transform: translate(150px, 150px);
      -ms-transform: translate(150px, 150px);
      transform: translate(150px, 150px); } }
.tile.tile-position-5-6 {
  -webkit-transform: translate(418px, 523px);
  -moz-transform: translate(418px, 523px);
  -ms-transform: translate(418px, 523px);
  transform: translate(418px, 523px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-5-6 {
      -webkit-transform: translate(150px, 187px);
      -moz-transform: translate(150px, 187px);
      -ms-transform: translate(150px, 187px);
      transform: translate(150px, 187px); } }
.tile.tile-position-5-7 {
  -webkit-transform: translate(418px, 628px);
  -moz-transform: translate(418px, 628px);
  -ms-transform: translate(418px, 628px);
  transform: translate(418px, 628px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-5-7 {
      -webkit-transform: translate(150px, 225px);
      -moz-transform: translate(150px, 225px);
      -ms-transform: translate(150px, 225px);
      transform: translate(150px, 225px); } }
.tile.tile-position-5-8 {
  -webkit-transform: translate(418px, 733px);
  -moz-transform: translate(418px, 733px);
  -ms-transform: translate(418px, 733px);
  transform: translate(418px, 733px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-5-8 {
      -webkit-transform: translate(150px, 262px);
      -moz-transform: translate(150px, 262px);
      -ms-transform: translate(150px, 262px);
      transform: translate(150px, 262px); } }
.tile.tile-position-5-9 {
  -webkit-transform: translate(418px, 837px);
  -moz-transform: translate(418px, 837px);
  -ms-transform: translate(418px, 837px);
  transform: translate(418px, 837px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-5-9 {
      -webkit-transform: translate(150px, 300px);
      -moz-transform: translate(150px, 300px);
      -ms-transform: translate(150px, 300px);
      transform: translate(150px, 300px); } }
.tile.tile-position-5-10 {
  -webkit-transform: translate(418px, 942px);
  -moz-transform: translate(418px, 942px);
  -ms-transform: translate(418px, 942px);
  transform: translate(418px, 942px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-5-10 {
      -webkit-transform: translate(150px, 337px);
      -moz-transform: translate(150px, 337px);
      -ms-transform: translate(150px, 337px);
      transform: translate(150px, 337px); } }
.tile.tile-position-6-1 {
  -webkit-transform: translate(523px, 0px);
  -moz-transform: translate(523px, 0px);
  -ms-transform: translate(523px, 0px);
  transform: translate(523px, 0px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-6-1 {
      -webkit-transform: translate(187px, 0px);
      -moz-transform: translate(187px, 0px);
      -ms-transform: translate(187px, 0px);
      transform: translate(187px, 0px); } }
.tile.tile-position-6-2 {
  -webkit-transform: translate(523px, 104px);
  -moz-transform: translate(523px, 104px);
  -ms-transform: translate(523px, 104px);
  transform: translate(523px, 104px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-6-2 {
      -webkit-transform: translate(187px, 37px);
      -moz-transform: translate(187px, 37px);
      -ms-transform: translate(187px, 37px);
      transform: translate(187px, 37px); } }
.tile.tile-position-6-3 {
  -webkit-transform: translate(523px, 209px);
  -moz-transform: translate(523px, 209px);
  -ms-transform: translate(523px, 209px);
  transform: translate(523px, 209px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-6-3 {
      -webkit-transform: translate(187px, 75px);
      -moz-transform: translate(187px, 75px);
      -ms-transform: translate(187px, 75px);
      transform: translate(187px, 75px); } }
.tile.tile-position-6-4 {
  -webkit-transform: translate(523px, 314px);
  -moz-transform: translate(523px, 314px);
  -ms-transform: translate(523px, 314px);
  transform: translate(523px, 314px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-6-4 {
      -webkit-transform: translate(187px, 112px);
      -moz-transform: translate(187px, 112px);
      -ms-transform: translate(187px, 112px);
      transform: translate(187px, 112px); } }
.tile.tile-position-6-5 {
  -webkit-transform: translate(523px, 418px);
  -moz-transform: translate(523px, 418px);
  -ms-transform: translate(523px, 418px);
  transform: translate(523px, 418px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-6-5 {
      -webkit-transform: translate(187px, 150px);
      -moz-transform: translate(187px, 150px);
      -ms-transform: translate(187px, 150px);
      transform: translate(187px, 150px); } }
.tile.tile-position-6-6 {
  -webkit-transform: translate(523px, 523px);
  -moz-transform: translate(523px, 523px);
  -ms-transform: translate(523px, 523px);
  transform: translate(523px, 523px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-6-6 {
      -webkit-transform: translate(187px, 187px);
      -moz-transform: translate(187px, 187px);
      -ms-transform: translate(187px, 187px);
      transform: translate(187px, 187px); } }
.tile.tile-position-6-7 {
  -webkit-transform: translate(523px, 628px);
  -moz-transform: translate(523px, 628px);
  -ms-transform: translate(523px, 628px);
  transform: translate(523px, 628px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-6-7 {
      -webkit-transform: translate(187px, 225px);
      -moz-transform: translate(187px, 225px);
      -ms-transform: translate(187px, 225px);
      transform: translate(187px, 225px); } }
.tile.tile-position-6-8 {
  -webkit-transform: translate(523px, 733px);
  -moz-transform: translate(523px, 733px);
  -ms-transform: translate(523px, 733px);
  transform: translate(523px, 733px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-6-8 {
      -webkit-transform: translate(187px, 262px);
      -moz-transform: translate(187px, 262px);
      -ms-transform: translate(187px, 262px);
      transform: translate(187px, 262px); } }
.tile.tile-position-6-9 {
  -webkit-transform: translate(523px, 837px);
  -moz-transform: translate(523px, 837px);
  -ms-transform: translate(523px, 837px);
  transform: translate(523px, 837px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-6-9 {
      -webkit-transform: translate(187px, 300px);
      -moz-transform: translate(187px, 300px);
      -ms-transform: translate(187px, 300px);
      transform: translate(187px, 300px); } }
.tile.tile-position-6-10 {
  -webkit-transform: translate(523px, 942px);
  -moz-transform: translate(523px, 942px);
  -ms-transform: translate(523px, 942px);
  transform: translate(523px, 942px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-6-10 {
      -webkit-transform: translate(187px, 337px);
      -moz-transform: translate(187px, 337px);
      -ms-transform: translate(187px, 337px);
      transform: translate(187px, 337px); } }
.tile.tile-position-7-1 {
  -webkit-transform: translate(628px, 0px);
  -moz-transform: translate(628px, 0px);
  -ms-transform: translate(628px, 0px);
  transform: translate(628px, 0px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-7-1 {
      -webkit-transform: translate(225px, 0px);
      -moz-transform: translate(225px, 0px);
      -ms-transform: translate(225px, 0px);
      transform: translate(225px, 0px); } }
.tile.tile-position-7-2 {
  -webkit-transform: translate(628px, 104px);
  -moz-transform: translate(628px, 104px);
  -ms-transform: translate(628px, 104px);
  transform: translate(628px, 104px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-7-2 {
      -webkit-transform: translate(225px, 37px);
      -moz-transform: translate(225px, 37px);
      -ms-transform: translate(225px, 37px);
      transform: translate(225px, 37px); } }
.tile.tile-position-7-3 {
  -webkit-transform: translate(628px, 209px);
  -moz-transform: translate(628px, 209px);
  -ms-transform: translate(628px, 209px);
  transform: translate(628px, 209px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-7-3 {
      -webkit-transform: translate(225px, 75px);
      -moz-transform: translate(225px, 75px);
      -ms-transform: translate(225px, 75px);
      transform: translate(225px, 75px); } }
.tile.tile-position-7-4 {
  -webkit-transform: translate(628px, 314px);
  -moz-transform: translate(628px, 314px);
  -ms-transform: translate(628px, 314px);
  transform: translate(628px, 314px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-7-4 {
      -webkit-transform: translate(225px, 112px);
      -moz-transform: translate(225px, 112px);
      -ms-transform: translate(225px, 112px);
      transform: translate(225px, 112px); } }
.tile.tile-position-7-5 {
  -webkit-transform: translate(628px, 418px);
  -moz-transform: translate(628px, 418px);
  -ms-transform: translate(628px, 418px);
  transform: translate(628px, 418px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-7-5 {
      -webkit-transform: translate(225px, 150px);
      -moz-transform: translate(225px, 150px);
      -ms-transform: translate(225px, 150px);
      transform: translate(225px, 150px); } }
.tile.tile-position-7-6 {
  -webkit-transform: translate(628px, 523px);
  -moz-transform: translate(628px, 523px);
  -ms-transform: translate(628px, 523px);
  transform: translate(628px, 523px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-7-6 {
      -webkit-transform: translate(225px, 187px);
      -moz-transform: translate(225px, 187px);
      -ms-transform: translate(225px, 187px);
      transform: translate(225px, 187px); } }
.tile.tile-position-7-7 {
  -webkit-transform: translate(628px, 628px);
  -moz-transform: translate(628px, 628px);
  -ms-transform: translate(628px, 628px);
  transform: translate(628px, 628px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-7-7 {
      -webkit-transform: translate(225px, 225px);
      -moz-transform: translate(225px, 225px);
      -ms-transform: translate(225px, 225px);
      transform: translate(225px, 225px); } }
.tile.tile-position-7-8 {
  -webkit-transform: translate(628px, 733px);
  -moz-transform: translate(628px, 733px);
  -ms-transform: translate(628px, 733px);
  transform: translate(628px, 733px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-7-8 {
      -webkit-transform: translate(225px, 262px);
      -moz-transform: translate(225px, 262px);
      -ms-transform: translate(225px, 262px);
      transform: translate(225px, 262px); } }
.tile.tile-position-7-9 {
  -webkit-transform: translate(628px, 837px);
  -moz-transform: translate(628px, 837px);
  -ms-transform: translate(628px, 837px);
  transform: translate(628px, 837px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-7-9 {
      -webkit-transform: translate(225px, 300px);
      -moz-transform: translate(225px, 300px);
      -ms-transform: translate(225px, 300px);
      transform: translate(225px, 300px); } }
.tile.tile-position-7-10 {
  -webkit-transform: translate(628px, 942px);
  -moz-transform: translate(628px, 942px);
  -ms-transform: translate(628px, 942px);
  transform: translate(628px, 942px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-7-10 {
      -webkit-transform: translate(225px, 337px);
      -moz-transform: translate(225px, 337px);
      -ms-transform: translate(225px, 337px);
      transform: translate(225px, 337px); } }
.tile.tile-position-8-1 {
  -webkit-transform: translate(733px, 0px);
  -moz-transform: translate(733px, 0px);
  -ms-transform: translate(733px, 0px);
  transform: translate(733px, 0px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-8-1 {
      -webkit-transform: translate(262px, 0px);
      -moz-transform: translate(262px, 0px);
      -ms-transform: translate(262px, 0px);
      transform: translate(262px, 0px); } }
.tile.tile-position-8-2 {
  -webkit-transform: translate(733px, 104px);
  -moz-transform: translate(733px, 104px);
  -ms-transform: translate(733px, 104px);
  transform: translate(733px, 104px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-8-2 {
      -webkit-transform: translate(262px, 37px);
      -moz-transform: translate(262px, 37px);
      -ms-transform: translate(262px, 37px);
      transform: translate(262px, 37px); } }
.tile.tile-position-8-3 {
  -webkit-transform: translate(733px, 209px);
  -moz-transform: translate(733px, 209px);
  -ms-transform: translate(733px, 209px);
  transform: translate(733px, 209px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-8-3 {
      -webkit-transform: translate(262px, 75px);
      -moz-transform: translate(262px, 75px);
      -ms-transform: translate(262px, 75px);
      transform: translate(262px, 75px); } }
.tile.tile-position-8-4 {
  -webkit-transform: translate(733px, 314px);
  -moz-transform: translate(733px, 314px);
  -ms-transform: translate(733px, 314px);
  transform: translate(733px, 314px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-8-4 {
      -webkit-transform: translate(262px, 112px);
      -moz-transform: translate(262px, 112px);
      -ms-transform: translate(262px, 112px);
      transform: translate(262px, 112px); } }
.tile.tile-position-8-5 {
  -webkit-transform: translate(733px, 418px);
  -moz-transform: translate(733px, 418px);
  -ms-transform: translate(733px, 418px);
  transform: translate(733px, 418px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-8-5 {
      -webkit-transform: translate(262px, 150px);
      -moz-transform: translate(262px, 150px);
      -ms-transform: translate(262px, 150px);
      transform: translate(262px, 150px); } }
.tile.tile-position-8-6 {
  -webkit-transform: translate(733px, 523px);
  -moz-transform: translate(733px, 523px);
  -ms-transform: translate(733px, 523px);
  transform: translate(733px, 523px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-8-6 {
      -webkit-transform: translate(262px, 187px);
      -moz-transform: translate(262px, 187px);
      -ms-transform: translate(262px, 187px);
      transform: translate(262px, 187px); } }
.tile.tile-position-8-7 {
  -webkit-transform: translate(733px, 628px);
  -moz-transform: translate(733px, 628px);
  -ms-transform: translate(733px, 628px);
  transform: translate(733px, 628px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-8-7 {
      -webkit-transform: translate(262px, 225px);
      -moz-transform: translate(262px, 225px);
      -ms-transform: translate(262px, 225px);
      transform: translate(262px, 225px); } }
.tile.tile-position-8-8 {
  -webkit-transform: translate(733px, 733px);
  -moz-transform: translate(733px, 733px);
  -ms-transform: translate(733px, 733px);
  transform: translate(733px, 733px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-8-8 {
      -webkit-transform: translate(262px, 262px);
      -moz-transform: translate(262px, 262px);
      -ms-transform: translate(262px, 262px);
      transform: translate(262px, 262px); } }
.tile.tile-position-8-9 {
  -webkit-transform: translate(733px, 837px);
  -moz-transform: translate(733px, 837px);
  -ms-transform: translate(733px, 837px);
  transform: translate(733px, 837px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-8-9 {
      -webkit-transform: translate(262px, 300px);
      -moz-transform: translate(262px, 300px);
      -ms-transform: translate(262px, 300px);
      transform: translate(262px, 300px); } }
.tile.tile-position-8-10 {
  -webkit-transform: translate(733px, 942px);
  -moz-transform: translate(733px, 942px);
  -ms-transform: translate(733px, 942px);
  transform: translate(733px, 942px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-8-10 {
      -webkit-transform: translate(262px, 337px);
      -moz-transform: translate(262px, 337px);
      -ms-transform: translate(262px, 337px);
      transform: translate(262px, 337px); } }
.tile.tile-position-9-1 {
  -webkit-transform: translate(837px, 0px);
  -moz-transform: translate(837px, 0px);
  -ms-transform: translate(837px, 0px);
  transform: translate(837px, 0px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-9-1 {
      -webkit-transform: translate(300px, 0px);
      -moz-transform: translate(300px, 0px);
      -ms-transform: translate(300px, 0px);
      transform: translate(300px, 0px); } }
.tile.tile-position-9-2 {
  -webkit-transform: translate(837px, 104px);
  -moz-transform: translate(837px, 104px);
  -ms-transform: translate(837px, 104px);
  transform: translate(837px, 104px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-9-2 {
      -webkit-transform: translate(300px, 37px);
      -moz-transform: translate(300px, 37px);
      -ms-transform: translate(300px, 37px);
      transform: translate(300px, 37px); } }
.tile.tile-position-9-3 {
  -webkit-transform: translate(837px, 209px);
  -moz-transform: translate(837px, 209px);
  -ms-transform: translate(837px, 209px);
  transform: translate(837px, 209px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-9-3 {
      -webkit-transform: translate(300px, 75px);
      -moz-transform: translate(300px, 75px);
      -ms-transform: translate(300px, 75px);
      transform: translate(300px, 75px); } }
.tile.tile-position-9-4 {
  -webkit-transform: translate(837px, 314px);
  -moz-transform: translate(837px, 314px);
  -ms-transform: translate(837px, 314px);
  transform: translate(837px, 314px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-9-4 {
      -webkit-transform: translate(300px, 112px);
      -moz-transform: translate(300px, 112px);
      -ms-transform: translate(300px, 112px);
      transform: translate(300px, 112px); } }
.tile.tile-position-9-5 {
  -webkit-transform: translate(837px, 418px);
  -moz-transform: translate(837px, 418px);
  -ms-transform: translate(837px, 418px);
  transform: translate(837px, 418px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-9-5 {
      -webkit-transform: translate(300px, 150px);
      -moz-transform: translate(300px, 150px);
      -ms-transform: translate(300px, 150px);
      transform: translate(300px, 150px); } }
.tile.tile-position-9-6 {
  -webkit-transform: translate(837px, 523px);
  -moz-transform: translate(837px, 523px);
  -ms-transform: translate(837px, 523px);
  transform: translate(837px, 523px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-9-6 {
      -webkit-transform: translate(300px, 187px);
      -moz-transform: translate(300px, 187px);
      -ms-transform: translate(300px, 187px);
      transform: translate(300px, 187px); } }
.tile.tile-position-9-7 {
  -webkit-transform: translate(837px, 628px);
  -moz-transform: translate(837px, 628px);
  -ms-transform: translate(837px, 628px);
  transform: translate(837px, 628px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-9-7 {
      -webkit-transform: translate(300px, 225px);
      -moz-transform: translate(300px, 225px);
      -ms-transform: translate(300px, 225px);
      transform: translate(300px, 225px); } }
.tile.tile-position-9-8 {
  -webkit-transform: translate(837px, 733px);
  -moz-transform: translate(837px, 733px);
  -ms-transform: translate(837px, 733px);
  transform: translate(837px, 733px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-9-8 {
      -webkit-transform: translate(300px, 262px);
      -moz-transform: translate(300px, 262px);
      -ms-transform: translate(300px, 262px);
      transform: translate(300px, 262px); } }
.tile.tile-position-9-9 {
  -webkit-transform: translate(837px, 837px);
  -moz-transform: translate(837px, 837px);
  -ms-transform: translate(837px, 837px);
  transform: translate(837px, 837px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-9-9 {
      -webkit-transform: translate(300px, 300px);
      -moz-transform: translate(300px, 300px);
      -ms-transform: translate(300px, 300px);
      transform: translate(300px, 300px); } }
.tile.tile-position-9-10 {
  -webkit-transform: translate(837px, 942px);
  -moz-transform: translate(837px, 942px);
  -ms-transform: translate(837px, 942px);
  transform: translate(837px, 942px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-9-10 {
      -webkit-transform: translate(300px, 337px);
      -moz-transform: translate(300px, 337px);
      -ms-transform: translate(300px, 337px);
      transform: translate(300px, 337px); } }
.tile.tile-position-10-1 {
  -webkit-transform: translate(942px, 0px);
  -moz-transform: translate(942px, 0px);
  -ms-transform: translate(942px, 0px);
  transform: translate(942px, 0px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-10-1 {
      -webkit-transform: translate(337px, 0px);
      -moz-transform: translate(337px, 0px);
      -ms-transform: translate(337px, 0px);
      transform: translate(337px, 0px); } }
.tile.tile-position-10-2 {
  -webkit-transform: translate(942px, 104px);
  -moz-transform: translate(942px, 104px);
  -ms-transform: translate(942px, 104px);
  transform: translate(942px, 104px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-10-2 {
      -webkit-transform: translate(337px, 37px);
      -moz-transform: translate(337px, 37px);
      -ms-transform: translate(337px, 37px);
      transform: translate(337px, 37px); } }
.tile.tile-position-10-3 {
  -webkit-transform: translate(942px, 209px);
  -moz-transform: translate(942px, 209px);
  -ms-transform: translate(942px, 209px);
  transform: translate(942px, 209px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-10-3 {
      -webkit-transform: translate(337px, 75px);
      -moz-transform: translate(337px, 75px);
      -ms-transform: translate(337px, 75px);
      transform: translate(337px, 75px); } }
.tile.tile-position-10-4 {
  -webkit-transform: translate(942px, 314px);
  -moz-transform: translate(942px, 314px);
  -ms-transform: translate(942px, 314px);
  transform: translate(942px, 314px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-10-4 {
      -webkit-transform: translate(337px, 112px);
      -moz-transform: translate(337px, 112px);
      -ms-transform: translate(337px, 112px);
      transform: translate(337px, 112px); } }
.tile.tile-position-10-5 {
  -webkit-transform: translate(942px, 418px);
  -moz-transform: translate(942px, 418px);
  -ms-transform: translate(942px, 418px);
  transform: translate(942px, 418px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-10-5 {
      -webkit-transform: translate(337px, 150px);
      -moz-transform: translate(337px, 150px);
      -ms-transform: translate(337px, 150px);
      transform: translate(337px, 150px); } }
.tile.tile-position-10-6 {
  -webkit-transform: translate(942px, 523px);
  -moz-transform: translate(942px, 523px);
  -ms-transform: translate(942px, 523px);
  transform: translate(942px, 523px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-10-6 {
      -webkit-transform: translate(337px, 187px);
      -moz-transform: translate(337px, 187px);
      -ms-transform: translate(337px, 187px);
      transform: translate(337px, 187px); } }
.tile.tile-position-10-7 {
  -webkit-transform: translate(942px, 628px);
  -moz-transform: translate(942px, 628px);
  -ms-transform: translate(942px, 628px);
  transform: translate(942px, 628px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-10-7 {
      -webkit-transform: translate(337px, 225px);
      -moz-transform: translate(337px, 225px);
      -ms-transform: translate(337px, 225px);
      transform: translate(337px, 225px); } }
.tile.tile-position-10-8 {
  -webkit-transform: translate(942px, 733px);
  -moz-transform: translate(942px, 733px);
  -ms-transform: translate(942px, 733px);
  transform: translate(942px, 733px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-10-8 {
      -webkit-transform: translate(337px, 262px);
      -moz-transform: translate(337px, 262px);
      -ms-transform: translate(337px, 262px);
      transform: translate(337px, 262px); } }
.tile.tile-position-10-9 {
  -webkit-transform: translate(942px, 837px);
  -moz-transform: translate(942px, 837px);
  -ms-transform: translate(942px, 837px);
  transform: translate(942px, 837px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-10-9 {
      -webkit-transform: translate(337px, 300px);
      -moz-transform: translate(337px, 300px);
      -ms-transform: translate(337px, 300px);
      transform: translate(337px, 300px); } }
.tile.tile-position-10-10 {
  -webkit-transform: translate(942px, 942px);
  -moz-transform: translate(942px, 942px);
  -ms-transform: translate(942px, 942px);
  transform: translate(942px, 942px); }
  @media screen and (max-width: 1080px) {
    .tile.tile-position-10-10 {
      -webkit-transform: translate(337px, 337px);
      -moz-transform: translate(337px, 337px);
      -ms-transform: translate(337px, 337px);
      transform: translate(337px, 337px); } }

.tile {
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; }
  .tile .tile-inner {
    border-radius: 3px;
    background: #eee4da;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 46.69604px; }
    @media screen and (max-width: 1080px) {
      .tile .tile-inner {
        font-size: 16.74009px; } }
  .tile.tile-2 .tile-inner {
    background: #eee4da;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
  .tile.tile-4 .tile-inner {
    background: #eee1c9;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0); }
  .tile.tile-8 .tile-inner {
    color: #f9f6f2;
    background: #f3b27a; }
  .tile.tile-16 .tile-inner {
    color: #f9f6f2;
    background: #f69664; }
  .tile.tile-32 .tile-inner {
    color: #f9f6f2;
    background: #f77c5f; }
  .tile.tile-64 .tile-inner {
    color: #f9f6f2;
    background: #f75f3b; }
  .tile.tile-128 .tile-inner {
    color: #f9f6f2;
    background: #edd073;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286); }
  .tile.tile-256 .tile-inner {
    color: #f9f6f2;
    background: #edcc62;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048); }
  .tile.tile-512 .tile-inner {
    color: #f9f6f2;
    background: #edc950;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381); }
  .tile.tile-1024 .tile-inner {
    color: #f9f6f2;
    background: #edc53f;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571); }
  .tile.tile-2048 .tile-inner {
    color: #f9f6f2;
    background: #edc22e;
    box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333); }

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
.tile-new .tile-inner {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); } }
.tile-merged .tile-inner {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.above-game:after {
  content: "";
  display: block;
  clear: both; }

.game-intro {
  float: left;
  line-height: 42px;
  margin-bottom: 0; }
  @media screen and (max-width: 1080px) {
    .game-intro {
      width: 55%;
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      line-height: 1.65; } }

.restart-button {
  display: inline-block;
  background: #8f7a66;
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: #f9f6f2;
  height: 40px;
  line-height: 42px;
  display: block;
  text-align: center;
  float: right; }
  @media screen and (max-width: 1080px) {
    .restart-button {
      width: 42%;
      padding: 0;
      display: block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin-top: 2px; } }

.game-explanation {
  margin-top: 50px; }

.auto-move-container {
  margin: 10px auto;
  width: 1060px;
  clear: both;
  color: #09f;
  text-align: center; }
  @media screen and (max-width: 1080px) {
    .auto-move-container {
      width: 380px; } }
  .auto-move-container input {
    text-align: right; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

/*# sourceMappingURL=main.css.map */
