@import "helpers";
@import "fonts/clear-sans.css";

$grid-row-cells: 16; // 4;
$field-width: 940px; // 1060px; // 500px;
$field-width-smaller: 380px; // 280px;
$grid-spacing: $field-width / $grid-row-cells / 8.33; // 15px;
$grid-spacing-smaller: $field-width-smaller / $grid-row-cells / 8.33; // 10px;
$tile-size: ($field-width - $grid-spacing * ($grid-row-cells + 1)) / $grid-row-cells;
$tile-size-smaller: ($field-width-smaller - $grid-spacing-smaller * ($grid-row-cells + 1)) / $grid-row-cells;
$tile-border-radius: 3px;

$mobile-threshold: $field-width + 20px;

$text-color: #776e65;
$bright-text-color: #f9f6f2;

$tile-color: #eee4da;
$tile-gold-color: #edc22e;
$tile-gold-glow-color: lighten($tile-gold-color, 15%);

$game-container-margin-top: 40px;
$game-container-margin-top-smaller: 17px;
$game-container-background: #bbada0;

$transition-speed: 100ms;

html, body {
  margin: 0;
  padding: 0;
  background: #faf8ef;
  color: $text-color;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  @include smaller($mobile-threshold) {
    font-size: 15px;
  }
}

body {
  margin: 80px 0;
  @include smaller($mobile-threshold) {
    margin: 20px 0;
    padding: 0 20px;
  }
}

.heading {
  @include clearfix;
  @include smaller($mobile-threshold) {
    margin-bottom: 10px;
  }
}

h1.title {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  display: block;
  float: left;
  @include smaller($mobile-threshold) {
    font-size: 27px;
    margin-top: 15px;
    float: none;
    text-align: center;
  }
}

@include keyframes(move-up) {
  0% {
    top: 25px;
    opacity: 1;
  }

  100% {
    top: -50px;
    opacity: 0;
  }
}

.scores-container {
  text-align: right;
  float: right;
  @include smaller($mobile-threshold) {
    text-align: center;
    float: none;
  }
}

.score-container, .best-container {
  $height: 25px;
  position: relative;
  display: inline-block;
  background: $game-container-background;
  padding: 15px 25px;
  font-size: $height;
  height: $height;
  line-height: $height + 22px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  margin-top: 8px;
  text-align: center;

  @include smaller($mobile-threshold) {
    margin-top: 0;
    padding: 15px 10px;
    width: 44%;
    min-width: 40px;
  }

  &:after {
    position: absolute;
    width: 100%;
    top: 10px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: $tile-color;
  }

  .score-addition {
    position: absolute;
    right: 30px;
    color: red;
    font-size: $height;
    line-height: $height;
    font-weight: bold;
    color: rgba($text-color, .9);
    z-index: 100;
    @include animation(move-up 600ms ease-in);
    @include animation-fill-mode(both);
  }
}

.score-container:after {
  content: "Score";
}

.best-container:after {
  content: "Best"
}

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65;
}

a {
  color: $text-color;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

strong {
  &.important {
    text-transform: uppercase;
  }
}

hr {
  border: none;
  border-bottom: 1px solid lighten($text-color, 40%);
  margin-top: 20px;
  margin-bottom: 30px;
}

.container {
  width: $field-width * 1.8 + $grid-spacing;
  @include smaller($mobile-threshold) {
    width: $field-width-smaller
  }
  margin: 0 auto;
}

@include keyframes(fade-in) {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// Styles for buttons
@mixin button {
  display: inline-block;
  background: darken($game-container-background, 20%);
  border-radius: 3px;
  padding: 0 20px;
  text-decoration: none;
  color: $bright-text-color;
  height: 40px;
  line-height: 42px;
}

.stats-container {
  overflow: hidden;
  font-size: 0.85em;
  float: left;
  //display: inline;
  margin-top: $game-container-margin-top;
  margin-left: $grid-spacing;
  padding: $grid-spacing;
  background: $game-container-background;
  border-radius: $tile-border-radius * 2;
  width: $field-width * 0.8;
  height: $field-width;
  @include smaller($mobile-threshold) {
    margin-top: $game-container-margin-top-smaller;
    padding: $grid-spacing-smaller;
    width: $field-width-smaller * 0.75;
    height: $field-width-smaller;
  }
  @include boxsize (border-box);

  th {
    text-align: center;
    vertical-align: baseline;
    &.right {
      text-align: right;
    }
  }
  td {
    text-align: right;
    vertical-align: baseline;
    padding-left: $grid-spacing;
    &.left {
      text-align: left;
    }
  }

  .predict {
    color: gainsboro;
  }

  //small, sub, sup { font-size: .83em }
  //sub             { vertical-align: sub }
  //sup             { vertical-align: super }
}

.game-container {
  float: left;
  //display: inline;
  margin-top: $game-container-margin-top;
  position: relative;
  padding: $grid-spacing;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  background: $game-container-background;
  border-radius: $tile-border-radius * 2;
  width: $field-width;
  height: $field-width;
  @include smaller($mobile-threshold) {
    margin-top: $game-container-margin-top-smaller;
    padding: $grid-spacing-smaller;
    width: $field-width-smaller;
    height: $field-width-smaller;
  }
  @include boxsize (border-box);

  .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($tile-color, .5);
    z-index: 100;
    text-align: center;

    p {
      font-size: 60px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      margin-top: 222px;
      // height: $field-width;
      // line-height: $field-width;

      @include smaller($mobile-threshold) {
        font-size: 30px !important;
        height: 30px !important;
        line-height: 30px !important;
        margin-top: 90px !important;
      }
    }

    .lower {
      display: block;
      margin-top: 59px;
      @include smaller($mobile-threshold) {
        margin-top: 30px !important;
      }
    }

    a {
      @include button;
      margin-left: 9px;
      // margin-top: 59px;

      &.keep-playing-button {
        display: none;
      }
    }

    @include animation(fade-in 800ms ease $transition-speed * 12);
    @include animation-fill-mode(both);

    &.game-won {
      background: rgba($tile-gold-color, .5);
      color: $bright-text-color;

      a.keep-playing-button {
        display: inline-block;
      }
    }

    &.game-won, &.game-over {
      display: block;
    }
  }
}

.grid-container {
  position: absolute;
  z-index: 1;
}

.grid-row {
  margin-bottom: $grid-spacing;
  @include smaller($mobile-threshold) {
    margin-bottom: $grid-spacing-smaller;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.grid-cell {
  width: $tile-size;
  height: $tile-size;
  margin-right: $grid-spacing;
  @include smaller($mobile-threshold) {
    width: $tile-size-smaller;
    height: $tile-size-smaller;
    margin-right: $grid-spacing-smaller;
  }
  float: left;
  border-radius: $tile-border-radius;
  background: rgba($tile-color, .35);

  &:last-child {
    margin-right: 0;
  }
}

.tile-container {
  position: absolute;
  z-index: 2;
}

.tile {
  &, .tile-inner {
    width: ceil($tile-size);
    height: ceil($tile-size);
    line-height: ceil($tile-size);
    @include smaller($mobile-threshold) {
      width: ceil($tile-size-smaller);
      height: ceil($tile-size-smaller);
      line-height: ceil($tile-size-smaller);
    }
  }

  // Build position classes
  @for $x from 1 through $grid-row-cells {
    @for $y from 1 through $grid-row-cells {
      &.tile-position-#{$x}-#{$y} {
        $xPos: floor(($tile-size + $grid-spacing) * ($x - 1));
        $yPos: floor(($tile-size + $grid-spacing) * ($y - 1));
        @include transform(translate($xPos, $yPos));
        @include smaller($mobile-threshold) {
          $xPos-smaller: floor(($tile-size-smaller + $grid-spacing-smaller) * ($x - 1));
          $yPos-smaller: floor(($tile-size-smaller + $grid-spacing-smaller) * ($y - 1));
          @include transform(translate($xPos-smaller, $yPos-smaller));
        }
      }
    }
  }
}

.tile {
  position: absolute; // Makes transforms relative to the top-left corner

  .tile-inner {
    border-radius: $tile-border-radius;
    background: $tile-color;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: $field-width / $grid-row-cells / 2.5; // 55px;
    @include smaller($mobile-threshold) {
      font-size: $field-width-smaller / $grid-row-cells / 2.5; // 35px;
    }
  }

  // Movement transition
  @include transition($transition-speed ease-in-out);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
}

$exponent: 1;
$limit: 99; // ......... ... K .. M .. G .. T .. P .. E .. Z .. Y
$colors: #97d7e4 false -0% -15% -35% -45% -60% -75% -90% -95% -99%,
         #f77cb0 false -0% -15% -30% -45% -60% -75% -90% -95% -99%,
         #8bdfcf false -0% -15% -35% -50% -60% -75% -90% -95% -99%,
         #b77fce false -0% -15% -30% -45% -60% -75% -90% -95% -99%,
         #feeea3 false -0% -15% -30% -45% -51% -55% -90% -95% -99%,
         #bedf95 false -0% -15% -30% -45% -60% -75% -90% -95% -99%,
         #8ec6e7 false -0% -15% -30% -45% -60% -75% -90% -95% -99%,
         #a0ace2 false -0% -15% -30% -45% -60% -75% -90% -95% -99%,
         #ad95d9 false -0% -15% -30% -45% -60% -75% -90% -95% -99%,
         #e17dd0 false -0% -15% -30% -45% -60% -75% -90% -95% -99%;
$listLength: length($colors);
$numCols: 9;

// Build tile colors
@while $exponent <= $limit {

  .tile-#{$exponent} .tile-inner, .tile-#{$exponent} {
    // Calculate base background color
    //$gold-percent: ($exponent - 1) / ($limit - 1) * 100;
    //$mixed-background: mix($tile-gold-color, $tile-color, $gold-percent);
    //$list-entry: if($exponent <= length($special-colors), nth($special-colors, $exponent), false false);
    $list-entry: nth($colors, ceil(($exponent + 1) / $listLength));
    $bg-color: nth($list-entry, 1);
    $bright-text: nth($list-entry, 2);
    $dark-col: ($exponent) % 10;
    //$dark-pct: nth($list-entry, $dark-col + 3);
    $dark-pct: percentage(0 - $dark-col * 0.08);
    //$bright-text: false;

    //@if $bg-color {
    //$mixed-background: mix($bg-color, $mixed-background, 55%);
    //$mixed-background: mix($bg-color, $tile-color, 55%);
    $mixed-background: scale-color($bg-color, $lightness: $dark-pct);
    //}

    $bright-text: 65 > lightness($mixed-background);
    @if $bright-text {
      color: $bright-text-color;
    }

    // Set background
    background: $mixed-background;

    // Add glow
    $glow-opacity: max($exponent - 4, 0) / ($limit - 4);
    box-shadow: 0 0 30px 10px rgba($tile-gold-glow-color, $glow-opacity / 1.8),
    inset 0 0 0 1px rgba(white, $glow-opacity / 3);
  }

  $exponent: $exponent + 1;
}

@include keyframes(appear) {
  0% {
    opacity: 0;
    @include transform(scale(0));
  }

  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}

.tile-new .tile-inner {
  @include animation(appear 200ms ease $transition-speed);
  @include animation-fill-mode(backwards);
}

@include keyframes(pop) {
  0% {
    @include transform(scale(0));
  }

  50% {
    @include transform(scale(1.2));
  }

  100% {
    @include transform(scale(1));
  }
}

.tile-merged .tile-inner {
  z-index: 20;
  @include animation(pop 200ms ease $transition-speed);
  @include animation-fill-mode(backwards);
}

.above-game {
  @include clearfix;
}

.game-intro {
  float: left;
  line-height: 42px;
  margin-bottom: 0;

  // Show intro and restart button side by side
  @include smaller($mobile-threshold) {
    width: 55%;
    display: block;
    @include boxsize(border-box);
    line-height: 1.65;
  }
}

#restart-explanation {
  float: right;
  width: 30%;
}
.restart-button {
  @include button;
  display: block;
  text-align: center;
  float: right;
  @include smaller($mobile-threshold) {
    width: 42%;
    padding: 0;
    display: block;
    @include boxsize(border-box);
    margin-top: 2px;
  }
}

.game-explanation {
  margin-top: 50px;
}

.auto-move-container {
  margin: 10px auto; // 60px auto 0 auto;
  width: $field-width; // 450px;
  @include smaller($mobile-threshold) {
    width: $field-width-smaller
  }
  clear: both;
  color: #09f;
  text-align: center;
  input {
    text-align: right;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
